# sway config customization for hackney (Fujitsu LifeBook T725)
#
# extra utilities you are assumed to have:
#   blight (from crates.io)
#   gammastep
#   swaylock
#   swayidle
#   pactl
#   waybar

### Output configuration
output eDP-1 background $HOME/Pictures/tear_2.jpg fill

# tint the display to a warmer-neutral (4000K)
exec gammastep -O 4000

# control brightness (requires blight)
bindsym XF86MonBrightnessUp   exec --no-startup-id blight inc 10
bindsym XF86MonBrightnessDown exec --no-startup-id blight dec 10

### Idle configuration
# lock screen after 900 seconds (15 minutes)
exec swayidle -w \
	timeout 900  'swaylock -f' \
	timeout 1800 'swaymsg "output * dpms off"' \
	      resume 'swaymsg "output * dpms on"' \
	before-sleep 'swaylock -f'


### Volume
# use (custom) volume-ctl-wob.sh controller
bindsym --locked XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym --locked XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym --locked XF86AudioMute        exec pactl set-sink-mute   @DEFAULT_SINK@ toggle

### Media Controls
#bindsym XF86AudioPlay exec playerctl play-pause
#bindsym XF86AudioNext exec playerctl next
#bindsym XF86AudioPrev exec playerctl previous

# add gaps between windows
gaps inner 5


### Status bar
# use waybar instead of sway-bar
bar swaybar_command waybar


### Lock the screen on startup
exec swaylock -f

### natural scrolling on touchpad pls
input "2:14:ETPS/2_Elantech_Touchpad" natural_scroll enabled
