# sway config customization for shrec123 (triple-portraits)

### Output configuration
# monitor layout: (in order) left center right
set $monitor_left VGA-1
set $monitor_center HDMI-A-4
set $monitor_right DVI-D-1

output $monitor_left position       0 0 \
	background $HOME/Pictures/tarantula_nebula_1920height_lohalo_left.png fill \
	resolution 1920x1080@60Hz \
	transform 270 \

output $monitor_center position 1080 0 \
	background $HOME/Pictures/tarantula_nebula_1920height_lohalo_center.png fill \
	resolution 1920x1080@60Hz \
	transform 270 \

output $monitor_right  position  2160 0 \
	background $HOME/Pictures/tarantula_nebula_1920height_lohalo_right.png fill \
	resolution 1920x1080@60Hz \
	transform 270 \

# Define default workspace monitor affinities
workspace  1 output $monitor_left
workspace  2 output $monitor_left
workspace  3 output $monitor_left
workspace  4 output $monitor_center
workspace  5 output $monitor_center
workspace  6 output $monitor_center
workspace  7 output $monitor_right
workspace  8 output $monitor_right
workspace  9 output $monitor_right
workspace 10 output $monitor_right

# tint the monitors to a warmer-neutral (4000K)
exec redshift -PO 4000

### Idle configuration
# lock screen after 1200 seconds (20 minutes)
exec swayidle -w timeout 1200 'swaylock -f'


### Volume
# use (custom) volume-ctl-wob.sh controller
bindsym XF86AudioRaiseVolume exec $HOME/.local/bin/volume-ctl-wob.sh up
bindsym XF86AudioLowerVolume exec $HOME/.local/bin/volume-ctl-wob.sh down
bindsym XF86AudioMute        exec $HOME/.local/bin/volume-ctl-wob.sh mute

### Media Controls
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

# add gaps between windows
gaps inner 10

