# i3 config customization for mondays (triple-portraits)

# set display orientation, background image, compositor (in that order)
exec --no-startup-id $HOME/.screenlayout/3portraits.sh && nitrogen --restore && picom

set $monitor_left DP-2
set $monitor_center DP-0
set $monitor_right DP-6

# Define default workspace monitor affinities
workspace  1 output $monitor_left
workspace  2 output $monitor_left
workspace  3 output $monitor_left
workspace  4 output $monitor_center
workspace  5 output $monitor_center
workspace  6 output $monitor_center
workspace  7 output $monitor_right
workspace  8 output $monitor_right
workspace  9 output $monitor_right
workspace 10 output $monitor_right

### Volume
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute        exec --no-startup-id pactl set-sink-mute   @DEFAULT_SINK@ toggle

### Media Controls
bindsym XF86AudioPlay exec --no-startup-id playerctl play-pause
bindsym XF86AudioNext exec --no-startup-id playerctl next
bindsym XF86AudioPrev exec --no-startup-id playerctl previous

# add gaps between windows
gaps inner 10

### Status bar(s)
exec --no-startup-id polybar left
exec --no-startup-id polybar center
exec --no-startup-id polybar right


# NetworkManager applet
exec --no-startup-id nm-applet

# background screen lock daemon
exec xss-lock --transfer-sleep-lock -- i3lock --color 232325 --nofork


# red-tint the screen for my eyes' sake
exec --no-startup-id gammastep -PO 4000

# finally, lock the screen on startup
exec_always --no-startup-id loginctl lock-session
